* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* colore usato per il testo color: #b3b3b3; */


/* Utility classes */
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

body {
  background-color: #333;
  color: white;
}
.wrapper {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

#site_content{
  height: calc(100% - 60px);
}
aside.main_menu {
  min-width: 230px;
  background-color: black;
}

.covers_section {
  background-color: aquamarine;
  padding: 20px;;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 60px;
  width: calc(100% - 230px);
}
.subscribe_banner {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 230px);
  height: 60px;
  background-color: #8a2be2a1;
}

.item {
  width: 100%;
  max-width: 200px;
  margin: 10px;
}
.border-radius{
  border-radius: 50%;
}
a{
  margin: 10px;
}
/* Covers section */

#recently_played h2,
#created_for h2,p,
#popular h2, p{
  width: 100vw;
  margin-left: 10px;
}

#recently_played,
#created_for,
#popular{
  margin-top: 20px;
}

/* Footer */
footer#site_footer {
  background-color: yellowgreen;
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
